---
layout: layout
---

<header class="hero" role="banner">
  <%= partial 'partials/global_nav' %>
  <section class="body-content-container wrap-container" data-waypoint="hero-content">
    <h2 class="hero-headline"><%= t("index.headline") %></h2>
    <h3 class="hero-description"><%= t("index.description") %></h3>
    <div class="hero-banner-container">
      <div class="laptop">
      </div>
    </div>
  </section>
</header>

<div class="body-content-container wrap-container" role="main">
  <%= partial 'partials/main_cta' %>
  <section class="introduction">
    <div class="introduction-container" data-waypoint="introduction-container">
      <div class="introduction-item second-graphic">
        <div class="introduction-item-graphic-wrapper">
          <div class="intro-graphic-one">
          </div>
        </div>
        <div class="introduction-item-text-wrapper">
          <h4 class="introduction-item-header">
            <%= t("introduction.first.header") %>
          </h4>
          <p class="introduction-item-text">
            <%= t("introduction.first.description") %>
          </p>
        </div>
      </div>

      <div class="introduction-item third-graphic">
        <div class="introduction-item-text-wrapper">
          <h4 class="introduction-item-header">
            <%= t("introduction.second.header") %>
          </h4>
          <p class="introduction-item-text">
            <%= t("introduction.second.description") %>
          </p>
        </div>
        <div class="introduction-item-graphic-wrapper">
          <div class="intro-graphic-two">
          </div>
        </div>
      </div>

      <div class="introduction-item fourth-graphic">
        <div class="introduction-item-graphic-wrapper">
          <div class="intro-graphic-three">
          </div>
        </div>
        <div class="introduction-item-text-wrapper">
          <h4 class="introduction-item-header">
            <%= t("introduction.third.header") %>
          </h4>
          <p class="introduction-item-text">
            <%= t("introduction.third.description") %>
          </p>
        </div>
      </div>
    </div>
    <p><b>Pluggable filter architecture:</b> Envoy allows filtering both at the network level
       (TCP/IP) as well as at the HTTP level. Filters can be chained together to perform complex
       tasks. New filters can be written to perform tasks not already supported.</p>
    <p><b>Modern C++11 code base:</b> Envoy is written in C++11, yielding both great performance and
       productivity.</p>
    <p><b>HTTP L7 routing:</b> Envoy supports advanced HTTP L7 routing primitives including
       redirection, virtual hosts, virtual clusters, matching on different request parameters, etc.
       </p>
    <p><b>TLS:</b> Envoy supports both TLS termination and initiation, client certificate
        verification, and certificate pinning.</p>
    <p><b>GRPC:</b>  Envoy has first class support for Google's GRPC framework.</p>
    <p><b>MongoDB:</b> Envoy contains a full MongoDB wire format parser that is used to gather
       statistics about database connections.</p>
    <p><b>Service discovery:</b> Envoy supports multiple methods for service discovery including
        asynchronous DNS resolution as well as integration with an external service discovery
        service.</p>
    <p><b>Health checking:</b> Envoy is capable of active health checking of backend servers.
        Active health checking along with service discovery yields eventually consistent and
        extremely resiliant load balancing.</p>
    <p><b>Best in class observability:</b> Envoy exposes a multitude of statistics to aid in system
        visibility and debugging.</p>
  </section>
</div>

<div class="landing-cta">
  <section class="wrap-container">
    <%= link_to t("cta.docs"),
      "./docs/index.html", class: "landing-cta-button-fill" %>
    <%= link_to t("cta.github"),
      "http://github.com/lyft/envoy", class: "landing-cta-button-outline" %>
  </section>
</div>
