<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= page_title %></title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Source+Code+Pro">
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <%= yield %>
    <%= partial "localizable/footer" %>
    <%= javascript_include_tag :site %>
    <%= partial "partials/tracking" %>
  </body>
</html>
